@model SurfClub.Models.DbModels.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Register" asp-action="AddUser" asp-antiforgery="true"  method="post" enctype="multipart/form-data">
    <div class="card register-card">
        <div class="card-header">Регистрация нового пользователя</div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Nickname">Псевдоним*</label>
                <input type="text" asp-for="Nickname" />
                data-placement="bottom"
                data-toggle="popover"
                data-content="Введите псевдоним"
                <span asp-validation-for="Nickname"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Почта*</label>
                <input type="email" asp-for="Email" />
                data-placement="bottom"
                data-toggle="popover"
                data-content="Введите псевдоним"
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Пароль*</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>

            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Подтвердите пароль*</label>
                <input type="password" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="Surname">Фамилия</label>
                <input type="text" asp-for="Surname" />
                <span asp-validation-for="Surname"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name">Имя</label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label>Фото</label>
                <input type="file"
                       accept=".jpg,.jpeg,.png"
                       name="imageData" />
                <span asp-validation-for="Photo"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contact">Контактная информация</label>
                <input type="text" asp-for="Contact" />
                <span asp-validation-for="Contact"></span>
            </div>

            <div class="form-group">
                <label asp-for="AboutMe">О себе</label>
                <input type="text" asp-for="AboutMe" />
                <span asp-validation-for="AboutMe"></span>
            </div>

            <div class="form-group">
                <label asp-for="Progress">Достижения</label>
                <input type="text" asp-for="Progress" />
                <span asp-validation-for="Progress"></span>
            </div>
           
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                * - поля обязательные для заполнения  <input type="submit" value="Зарегистрироваться" />
            </div>

        </div>
    </div>
</form>

<div class="center">
    Уже есть аккаунт?  <a class="btn btn-info" asp-controller="Login" asp-action="Index">Войти</a>
</div>